body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block{
	width: 800px;
	height: 400px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	position: absolute;
	border: 1px solid #000;
}
.block__img{
  position: absolute;
  transition: 5s ease-out;
  top:0;
  
  
  height: auto;

  
 
}
.block__img:hover{
   top:100%;
   transform: translate(0,-100%);
}